@import "tailwindcss";

@theme {
  --color-custom-black: rgb(25, 29, 30);
  --color-really-light: rgb(220, 230, 229);
  --color-bluyay: rgb(157, 180, 180);
  --color-crimson-maybe: rgb(99, 45, 66);
  --my-damn-margin: 18.75%;
  --custom-shadow: 0px 1px 0px rgba(220, 230, 229, 1),
  1px 0px 0px rgba(220, 230, 229, 1),
  -1px 0px 0px rgba(220, 230, 229, 1),
  0px -1px 0px rgba(220, 230, 229, 1),
  1px 1px 0px rgba(220, 230, 229, 1),
  -1px 1px 0px rgba(220, 230, 229, 1),
  1px -1px 0px rgba(220, 230, 229, 1),
  -1px -1px 0px rgba(220, 230, 229, 1);
}
:root {
  cursor: url("/KT6.cur"), auto;
}
@keyframes movingSides {
    0% { transform: translateX(10px); opacity: 0;}
    50% { transform: translateX(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingSides2 {
    0% { transform: translateX(10px); opacity: 0;}
    80% { transform: translateX(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingText {
    0% { transform: translateY(10px); opacity: 0;}
    50% { transform: translateY(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingText2 {
    0% { transform: translateY(10px); opacity: 0;}
    80% { transform: translateY(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingText3 {
    0% { transform: translateY(10px); opacity: 0;}
    90% { transform: translateY(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes marquee {
  0% { transform: translateX(220%);}
  100% { transform: translateX(-220%);}
}

@layer components {
  .titleSide {
    animation: movingSides 1s ;
  }
  .titleSideTwo {
    animation: movingSides 1.5s ;
  }
  .titleSideThree {
    animation: movingSides 2s ;
  }
  .textSide {
    animation: movingSides2 3s ;
  }
  .textMove {
    animation: movingText 3s ;
  }
  .textMoveTwo {
    animation: movingText 3.5s ;
  }
  .textMoveThree {
    animation: movingText2 3.5s ;
  }
  .textMoveFour {
    animation: movingText2 4.2s;
  }
  .textMoveFive {
    animation: movingText2 4.8s;
  }
  .textMoveSix {
    animation: movingSides2 5.5s;
  }
  .marquee {
    animation: marquee 20s linear infinite;
  }
}
