@import "tailwindcss";

html {
  background-color: rgb(62, 66, 69);
}
::selection {
  color: rgb(99, 45, 66);
  background: rgb(220, 230, 229);
}
@theme {
  --color-custom-black: rgb(25, 29, 30);
  --color-really-light: rgb(220, 230, 229);
  --color-bluyay: rgb(157, 180, 180);
  --color-crimson-maybe: rgb(99, 45, 66);
  --color-colour1: rgb(62, 66, 69);
  --color-colour2: rgb(85, 90, 94);
  --color-colour3: rgb(113, 120, 124);
  --color-colour4: rgb(141, 148, 153);
  --color-colour5: rgb(236, 244, 244);
  --custom-shadow: 0px 1px 0px rgba(220, 230, 229, 1),
  1px 0px 0px rgba(220, 230, 229, 1),
  -1px 0px 0px rgba(220, 230, 229, 1),
  0px -1px 0px rgba(220, 230, 229, 1),
  1px 1px 0px rgba(220, 230, 229, 1),
  -1px 1px 0px rgba(220, 230, 229, 1),
  1px -1px 0px rgba(220, 230, 229, 1),
  -1px -1px 0px rgba(220, 230, 229, 1);
}
:root {
  cursor: url("/cursors/auto.png"), auto;
}
a:hover {
  cursor: url("/cursors/pointer.png"), pointer;
}
@keyframes movingSides {
    0% { transform: translateX(10px); opacity: 0;}
    50% { transform: translateX(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingSides2 {
    0% { transform: translateX(10px); opacity: 0;}
    80% { transform: translateX(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingText {
    0% { transform: translateY(10px); opacity: 0;}
    50% { transform: translateY(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingText2 {
    0% { transform: translateY(10px); opacity: 0;}
    80% { transform: translateY(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes movingText3 {
    0% { transform: translateY(10px); opacity: 0;}
    90% { transform: translateY(10px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}
@keyframes marquee {
  0% { transform: translateX(260%);}
  100% { transform: translateX(-300%);}
}

@keyframes marqueeDown {
  0% { transform: translateY(-400%);}
  100% { transform: translateY(3000%);}
}

@keyframes bounce {
  0% {transform: translateX(-50%);}
  50% {transform: translateX(50%);}
  100% {transform: translateX(-50%);}
}

@layer components {
  .titleSide {
    animation: movingSides 1s ;
  }
  .titleSideTwo {
    animation: movingSides 1.5s ;
  }
  .titleSideThree {
    animation: movingSides 2s ;
  }
  .titleSideFour {
    animation: movingSides 2.5s ;
  }
  .titleSideFive {
    animation: movingSides 3s ;
  }
  .textSide {
    animation: movingSides2 3s ;
  }
  .textSideTwo {
    animation: movingSides2 2.5s ;
  }
  .textMove {
    animation: movingText 3s ;
  }
  .textMoveTwo {
    animation: movingText 3.5s ;
  }
  .textMoveThree {
    animation: movingText2 3.5s ;
  }
  .textMoveFour {
    animation: movingText2 4.2s;
  }
  .textMoveFive {
    animation: movingText2 4.8s;
  }
  .textMoveSix {
    animation: movingSides2 5.5s;
  }
  .marquee {
    animation: marquee 20s linear infinite;
  }
  .marqueeDown {
    animation: marqueeDown 25s linear infinite;
  }
  .bounce {
    animation: bounce 8s ease-in-out infinite;
  }
}
